.blue-text{
    color: var(--primary-color)!important;
  }

.red-text{
    color: red !important;
}

.green-text{
    color: green!important;
}

.product-price{
    font-size: 20px;
    font-weight: 600;
}

.product-card{
    transition: all 0.2s ease-in-out;
}

.product-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}